/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}













/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.full-width {
    width: 100%;
    background-color: #0074D9;
    background-color: #007fba;
}

.page-wrap {
    margin: 0 auto;
    width: 960px;
    overflow: hidden;
 }

/*................................................................. T.A.T header */
header {min-height: 7em;}
header div h1 { 
    color: #fff;
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

/*............................................................. User Login Panel */
.user-login-panel {
    margin-top: 50px;
}
.fa-user {color: #0074D9;}

.lecture-email, .log-out {
    padding-left: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    color: #0074D9;
}
.log-out {
    padding: 0;
    margin-left: 65%;
  
}




/*............................................................. My Courses Panel */
.my-courses-view {margin-bottom: 8em;}

.my-courses-view h2 {
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.my-courses-panel {
    width: 100%;
    background-color: #0074D9;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px; /* future proofing */
    -khtml-border-radius: 30px; /* for old Konqueror browsers */
    height: 4em;
    margin-bottom: 1.1em;
}









/*................................................... Pop-up Form (edit Project) */
div#form-header h1 {
    font-family: 'Lato', sans-serif;
    font-size: 1.6em !important;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-top: .2em;
    margin: 0;
    word-spacing: .3em;
    letter-spacing: .2em;
}
div#form-header{
    padding-top: 0;
    width: 100%;
    
    background-color: #0074D9;
    border: solid 1px #fff;
/*    background-color: #4db349; green*/

    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -khtml-border-radius: 30px;
   
    height: 1.3em !important;
    margin: 40px 0 80px 0 !important;

}
#edit-project-form {
    width: 700px; 
    border: solid #079e07 2px; 
    background-color: #badde1;
    border-radius: 14px;
}
/* layout & spacing of form elements vertically */
#edit-project-form div { 
    border-bottom: 1px solid #efefef;
    margin: 1.5em;
    padding-bottom: 1.5em;
    font-weight: 700;
    font-size: 1.2em;
}
#edit-project-form .title { /* make form label text align vertically */
    float: left;
    width: 225px;
    clear: left;
}

input {
    font-size: 120%;
    color: #5a5854;
    background-color: #f2f2f2;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 5px 5px 5px 30px;
    background-repeat: no-repeat;
/*    margin-bottom: 1.3em;
    margin-left: 2.5em;*/
    
}
.shift /*YES/NO & MIN/MAX LABELS */
{
    margin-left: 0.4em;
    margin-right: .4em;
}

/*hover on input text fields*/
input [type="text"]:focus, input[type="text"]:hover {
    background-color: #d0e2f0;
    border: 2px solid #009966;
}


/*buttons (submit)*/
#edit-project-form #buttons {width: 290px; margin: 0 auto;}

#buttons button{
    width: 100%;
    border: 1px solid #006633;
    border-radius: 6px;
    background-color: #4db349;
    color: #ffffff;
    padding: 10px;
    margin-top: 15px;
    font-family: lato;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#buttons .cancel-btn {background-color: #fb6565;}

#buttons button:hover {
    border: 1px solid #feb96c;
    color: #feb96c;
}








/*.......................................................... Success Message Div */
div#confirmation-message-box {
    border: solid 1px #000;
    width: 480px;
    height: 450px;
    background-color: #badde1;
    position: fixed;
    z-index: 1;
    top: 200px;
    left: 50%;
    margin-left: -240px; /* Half of the width */

}

div#confirmation-message-box h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color: #fff;
    text-align: center;
    background-color: #0074D9;
    border-radius: 30px;
    padding: 10px;
    width: 400px;
    margin: 50px auto 30px auto;
    letter-spacing: 1px;
}

div#confirmation-message-box img {
    display: block;
    margin: 0 auto;
}

#ok-button {
    width: 300px;
    margin: 40px auto 0px auto;
    display: block;
    padding: 20px;
    border-radius: 15px;
    
}












/*....................................................................... Footer */
footer {
    background-color: #0074D9;
    min-height: 4em;
    margin-top: 30px;
    
}
footer p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .1em
    
}
footer span {letter-spacing: .2em;}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
	
}




/*................................................................... Navigation */
header nav ul {
    list-style: none;
}
header nav li { 
text-decoration: none;
display: inline-block;
}
header nav a {
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 0;
    color: #fff;
}

header nav a:hover {
    color: #badde1;
}
header nav a:visited {
    color: #fff;
} 






/*..........................................................Assign Groups Button */
#buttons .assign-grp-btn {
    background-color: #feb96c;
    color: #0074D9;
}
#buttons .assign-grp-btn:hover {
    color: #0074D9;
    border-color: #4db349;
}


	    
    Please append these rules towards the end of main.css (before the footer styles)


    Created on : 07/11/2016, 3:35:58 PM
    Author     : Anathe Deans
*/





/*........................................................... Teams Display Page */
.my-tables-view {margin-bottom: 8em;}

.my-tables-view  h2 {
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 3px;
}



#team-display-panel {
    width: 100%;
    background-color: #0074D9;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px; /* future proofing */
    -khtml-border-radius: 30px; /* for old Konqueror browsers */
    height: 4em;
    margin-bottom: 1.1em;
}

#team-table-wrapper h2 {
    color: #079e07;
    font-family: 'Oswald', sans-serif;
    border-bottom: solid 1px #079e07;
    margin-top: 50px;
    padding-bottom: 10px;
    background-color: #eaf7e9;
    border-top: solid 1px #079e07;
/*    background-color: whitesmoke;*/
}

/* actual table styles */
.my-tables-view table {
    width: 100%;
    background-color: whitesmoke;
}

td {
    padding: 2px 0 5px 20px;
}
td.first-student {padding-top: 10px}

/* alternate colours for rows */
tr:nth-child(odd) {
    background-color: #badde1;
}

th {
    background-color: #badde1;
    font-family: 'Lato', sans-serif;
    color: #0074D9;
    font-size: 2em;
    text-align: left;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
    text-transform: uppercase;
    padding: 3px 0 3px 20px;
    border-bottom: #0074D9 dashed 1px;
    border-top: #0074D9 dashed 1px;
    margin-bottom: 5px;
}
	

